name: Building jars

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-
      - name: Build jars
        run: |
          chmod u+x gradlew
          ./gradlew build
      - name: Extract jars
        run: |
          mkdir -p build_jars
          cp -r build/libs/* build_jars
      - name: Deploy jar
        uses: actions/upload-artifact@v3
        with:
          name: "temp jars"
          path: "build_jars/*"